<div class="card border-light mb-3 position-absolute top-50 start-50 translate-middle" style="max-width: 18rem;">
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    class="card-img-top" alt="URL Shortener">
  <div class="card-body">
    <h5 class="card-title">URL Shortener</h5>
  </div>
  <div class="error-msg">
    <h2>{{errorMsg}}</h2>
    <p>{{errorURL}}</p>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-outline-warning" href="/" role="button">BACK TO HOME</a>
  </div>
  </div>