<div class="card border-light mb-3 position-absolute top-50 start-50 translate-middle" style="max-width: 18rem;">
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    class="card-img-top" alt="URL Shortener">
  <div class="card-body">
    <h5 class="card-title">URL Shortener</h5>
    <input readonly value="{{origin}}/{{shortURL}}" id="shortURL">
    <h5>{{originalURL}}</h5>
    <button onclick="myFunction()">COPY the URL</button>
  </div>
</div>

<script>
  function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("shortURL");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */

      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);

      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }
</script>